{% autoescape None %}

<table class="display compact hover order-column" style="width:100%" id="t"></table>

<script type="text/javascript">
    $(document).ready(function () {
        var t = $("#t").dataTable({
            //"iDisplayLength":10,

            ajax: {
                url: '/_query/{{ name }}/{{ p0 }}',
                dataSrc: ''
            },

            //dom: 'Bfrtip',
            //buttons: [
            //    'excel'
            //],
            {% if 'pageLength' in datatables.keys() %}
            "paging": true,
            "pageLength": {{ datatables['pageLength'] }},
            {% else %}
            "paging": false,
            {% end %}

            "order": {{ datatables['order'] }},
            //'bPaginate': true,
            //"bDestory": true,
            //"bRetrieve": true,
            //"bFilter":true,
            //"bSort": false,
            //"bProcessing": true,
            "aoColumns": [
                {
                    "title": "No.",
                    "defaultContent": '',
                    "searchable": false,
                    "orderable": false,
                    "width": "40px",
                },
                {% for th in datatables['th'] %}
                {
                    "title": "{{ th['name'] }}",
                    "mDataProp": "{{ th['field'] }}",
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        $(nTd).addClass("{{ th['field'] }}").attr('id', oData.{{ datatables['id'] }} );
                    },
                    "defaultContent": '',
                    "width": "{{ th['width'] }}",
                },
                {% end %}
            ],
            //"sDom": "<'row-fluid'<'span6 myBtnBox'><'span6'f>r>t<'row-fluid'<'span6'i><'span6 'p>>",
            //"language": {
            //    "url": "http://cdn.datatables.net/plug-ins/e9421181788/i18n/Chinese.json"
            //},
            "fnDrawCallback": function (data, x) {
                this.api().column(0).nodes().each(function(cell, i) {
                    cell.innerHTML = i + 1;
                });
                {% for th in datatables['th'] %}
                    {% if th['editor'] == 'edit' %}
                        $("#t tbody td.{{ th['field'] }}").editable("/_update/{{ name }}/{{ p0 }}/{{ th['field'] }}");
                    {% end %}
                    {% if th['editor'] == 'select' %}
                        $("#t tbody td.{{ th['field'] }}").editable("/_update/{{ name }}/{{ p0 }}/{{ th['field'] }}",
                            {

                                data: {{ th['data'] }},
                                type: 'select'
                            });
                    {% end %}
                {% end %}
            }
        });

    });
</script>