{% autoescape None %}


<div id="{{ values['name'] }}">

    <template>

    <vxe-modal v-model="insertDialog" title="添加" width="600" height=auto resize remember>
    <vxe-form :data='dialogValue' title-align="right" title-width="120" @submit="submitDialogEvent" >
    {% for th in values['th'] %}
    {% if th['editor'] != 'text' %}
        <vxe-form-item title="{{ th['name'] }}" field="{{ th['field'] }}" span="24" reset-value=""

        {% if th['editor'] == 'edit' %}
        :item-render="{name: 'input', defaultValue: ''}"
        {% end %}
        {% if th['editor'] == 'select' %}
        :item-render="{name: 'select', options: {{ th['data'] }} }"
        {% end %}            
        ></vxe-form-item>
    {% end %}
    {% end %}

        <vxe-form-item align="center" span="24">
        <vxe-button type="submit" status="primary">提交</vxe-button>
        </vxe-form-item>
    </vxe-form>
    </vxe-modal>

        {% if 'summary' in values %}
        <p style="width:100%; overflow:scroll; overflow-x:hidden;
            {% if 'height' in values['summary'] %}
            height: {{ values['summary']['height'] }};
            {% end %}
            {% if 'font-size' in values['summary'] %}
            font-size: {{ values['summary']['font-size'] }}
            {% end %}
            "
            v-html = 'textData'
        ></p>
        {% end %}

        <vxe-grid
            border
            resizable
            keep-source
            highlight-hover-row
            show-overflow
            :toolbar="tableToolbar"
            row-id = "{{ values['id'] }}"
            ref = "xTable"
            size = "mini"
            height = "{{ values['height'] }}"

            :data = "filterData"
            :edit-config = "{trigger: 'click', mode: 'cell', icon: 'fa fa-pencil'}"
            {% if 'order' in values %}
            :sort-config = "{trigger: 'cell', defaultSort: {{ values['order'] }}, orders: ['desc', 'asc', null]}"
            {% end %}

            @edit-closed = "updateEvent"
            @keydown = "keyDownEvent"
        >
            <template v-slot:toolbar_buttons>
                <vxe-input v-model="tempFilterName" type="search" placeholder="搜索"
                    @change="searchEvent($event)"
                ></vxe-input>

                {% if 'computed' in values %}
                <vxe-input :value='textToolbarData' editable=false size = "mini" readonly=true></vxe-input>
                {% end %}
                {% if 'insert' in values['toolbar'] %}
                <vxe-button icon="fa fa-plus" @click="insertEvent()">添加</vxe-button>
                {% end %}
                {% if 'delete' in values['toolbar'] %}
                <vxe-button icon="fa fa-trash-o" @click="removeEvent">删除</vxe-button>
                {% end %}

            </template>
            {% if 'delete' in values['toolbar'] %}
            <vxe-table-column type="checkbox" width="30" fixed=left></vxe-table-column>
            {% end %}
            <vxe-table-column type="seq" width="50" fixed=left></vxe-table-column>

            {% for th in values['th'] %}
            <vxe-table-column field="{{ th['field'] }}" title="{{ th['name'] }}"
                width = "{{ th['width'] }}"

                {% if 'fixed' in th %}
                fixed = {{ th['fixed'] }}
                {% end %}

                sortable

                {% if th['editor'] == 'text' %}
                type = "html"
                {% end %}
                {% if th['editor'] == 'edit' %}
                :edit-render="{name: 'input', defaultValue: ''}"
                {% end %}
                {% if th['editor'] == 'select' %}
                :edit-render="{name: 'select', options: {{ th['data'] }} , autoselect: true, events: {input: inputChangeEvent} }"
                {% end %}
            >
            </vxe-table-column>
            {% end %}

        </vxe-table>
    </template>
</div>

<script type="text/javascript">
Vue.prototype.$XModal = VXETable.modal
Vue.prototype.$axios = axios;

var values = {{ values }};
var url_query = '/{{ conf.site }}_query/{{ name }}/{{ p0 }}/{{ p1 }}';
var url_insert = '/{{ conf.site }}_insert/{{ name }}/{{ p0 }}/{{ p1 }}';
var url_update = '/{{ conf.site }}_update/{{ name }}/{{ p0 }}/{{ p1 }}';
var url_delete = '/{{ conf.site }}_delete/{{ name }}/{{ p0 }}/{{ p1 }}';

var Main = {
    data() {
        return {
            filterName: '',
            tempFilterName: '',
            textData:'',
            tableData: [],
            textToolbarData: '',

            timer: null,
            loadTimer: null,

            insertDialog: false,
            dialogValue: {},

            tableToolbar: {
                perfect: true,
                //refresh: true,
                zoom: true,
                custom: true,
                slots: {
                  buttons: 'toolbar_buttons'
                }
              },
        }
    },

    mounted () {
        this.loadData()
    },

    created () {
    },

    methods: {
        loadData() {
            console.log('loadData')
            let obj = this;

            axios
                .get(url_query)
                .then(function (response) {
                    obj.tableData = response.data.data;
                    obj.textData = response.data.text
                })
                .catch(function (error) { // 请求失败处理
                    console.log(error);
                });
            this.loadTimer = null
        },

        insertEvent (row) {
            this.insertDialog = true
        },

        removeEvent () {
            let xTable = this.$refs.xTable
            let obj = this
            const selectRecords = xTable.getCheckboxRecords()
            if (selectRecords.length) {
                this.$XModal.confirm('您确定要删除选中的数据吗?').then(type => {
                    if (type === 'confirm') {

                        let removeRecords = xTable.getCheckboxRecords()

                        for (i=0; i<removeRecords.length; i++) {
                            record = removeRecords[i];
                            const params = new URLSearchParams();
                            params.append('id', record[values['id']]);
                            axios
                            .post(url_delete, params)
                            .then(function (response) {

                                if (this.loadTimer != null) {
                                    clearTimeout(this.loadTimer);
                                }
                                this.loadTimer = setTimeout(obj.loadData, 100);
                            })

                        }
                        xTable.removeCheckboxRow()
                    }
                })
            } else {
                this.$XModal.message({ message: '请至少选择一条数据', status: 'error' })
            }
        },

        updateEvent ({ row, column }) {
            let xTable = this.$refs.xTable
            let field = column.property
            let cellValue = row[field]
            let obj = this

            if (cellValue != null) {
                const params = new URLSearchParams();
                params.append('id', row[values['id']]);
                params.append('field', field);
                params.append('value', cellValue);

                axios
                .post(url_update, params)
                .then( function(response){
                    row[field] = response.data

                    for (i=0; i<obj.tableData.length; i++){
                        if (obj.tableData[i][values['id']] == row[values['id']])
                            obj.tableData[i] = row;
                    }
                })
                .catch(function (error) { // 请求失败处理
                    console.log(error);
                });
            }
        },

        submitDialogEvent(data, event){
            let obj = this
            axios
            .get(url_insert)
            .then(function (response) {
                var value = {}

                for (var key in response.data) {
                    value[key] = response.data[key];
                }

                let id = value['{{ values['id'] }}']
                let params
                {% for th in values['th'] %}
                    field = "{{ th['field'] }}"
                    
                {% if th['editor'] != 'text' %}
                if (field in data.data) {
                    value[field] = data.data[field]
                    params = new URLSearchParams();
                    params.append('id', id);
                    params.append('field', field );
                    params.append('value', value[field]);
                    axios.post(url_update, params)
                }

                {% end %}
                {% end %}

                obj.insertDialog = false
                obj.tableData.unshift(value)

            })
        },

        keyDownEvent(event) {
            let xTable = this.$refs.xTable
            if (event.$event.key == "Enter") {
                xTable.clearActived();
            }
        },

        searchEvent(event) {
            if (this.timer != null) {
                clearTimeout(this.timer);
            }
            this.timer = setTimeout(this.updateSearch, 200);
        },

        updateSearch() {
            this.filterName = this.tempFilterName
            this.timer = null
        },

        inputChangeEvent(column) {
            let xTable = this.$refs.xTable;
            xTable.clearActived();
        },

        getTextToolbarData(data) {
            try {
                sum = 0
                for (i=0; i<data.length; i++) {
                    r = data[i]
                    if (r != null) {
                        field = values['computed']['field']
                        if (field in r && r[field] != '') {
                            s = parseFloat(r[field])
                            sum = sum + s
                        }
                    }
                }
                this.textToolbarData = values['computed']['name'] + sum.toString()
            }
            catch (err) {
                this.textToolbarData = ''
            }
        }

    },
    computed: {
        filterData () {
            const filterName = XEUtils.toString(this.filterName).trim().toLowerCase()
            if (filterName) {
                const searchProps = values['search'];
                const filters = filterName.split(" ");
                const rest = this.tableData.filter(
                    function (item) {
                        for (var index in filters) {
                            filter = filters[index]
                            ret = (searchProps.some(key => XEUtils.toString(item[key]).toLowerCase().indexOf(filter) > -1));
                            if (!ret) {
                                return false
                            }
                        }
                        return ret;
                })

                this.getTextToolbarData(rest)
                return rest
            }
            this.getTextToolbarData(this.tableData)
            return this.tableData
        }
    }
};

var Ctor = Vue.extend(Main);
new Ctor().$mount("#{{ values['name'] }}")

</script>