{% autoescape None %}


<div id="{{ values['name'] }}">
    <template>
        <p font-size=1rem v-html = 'textData'></p>

        <vxe-grid
            border
            resizable
            keep-source
            highlight-hover-row
            show-overflow
            :toolbar="tableToolbar"
            row-id = "{{ values['id'] }}"
            ref = "xTable"
            size = "small"

            :height = "height"
            :data = "filterData"
            :edit-config = "{trigger: 'click', mode: 'cell', icon: 'fa fa-pencil'}"
            {% if 'order' in values %}
            :sort-config = "{trigger: 'cell', defaultSort: {{ values['order'] }}, orders: ['desc', 'asc', null]}"
            {% end %}

            @edit-closed = "editClosedEvent"
            @keydown = "keyDownEvent"

        >
            <template v-slot:toolbar_buttons>
                <vxe-input v-model="tempFilterName" type="search" placeholder="全表搜索"
                    @change="searchEvent($event)"
                ></vxe-input>

                {% if 'insert' in values['toolbar'] %}
                <vxe-button icon="fa fa-plus" @click="insertEvent()">添加</vxe-button>
                {% end %}

                {% if 'delete' in values['toolbar'] %}
                <vxe-button icon="fa fa-trash-o" @click="removeEvent">删除</vxe-button>
                {% end %}



            </template>
            {% if 'delete' in values['toolbar'] %}
            <vxe-table-column type="checkbox" width="40"></vxe-table-column>
            {% end %}
            <vxe-table-column type="seq" width="60"></vxe-table-column>

            {% for th in values['th'] %}
            <vxe-table-column field="{{ th['field'] }}" title="{{ th['name'] }}"
                width = "{{ th['width'] }}"
                sortable

                {% if th['editor'] == 'text' %}
                type = "html"
                {% end %}

                {% if th['editor'] == 'edit' %}
                :edit-render="{name: 'input', defaultValue: ''}"
                {% end %}
                {% if th['editor'] == 'select' %}
                :edit-render="{name: 'select', options: {{ th['data'] }} , autoselect: true, events: {input: inputChangeEvent} }"
                {% end %}
            >
            </vxe-table-column>
            {% end %}

        </vxe-table>
    </template>
</div>

<script type="text/javascript">
  // 将全局模态窗口挂载到 vue 实例中
Vue.prototype.$XModal = VXETable.modal

Vue.prototype.$axios = axios;

var values = {{ values }};
var url_query = '/{{ conf.site }}_query/{{ name }}/{{ p0 }}/{{ p1 }}';
var url_insert = '/{{ conf.site }}_insert/{{ name }}/{{ p0 }}/{{ p1 }}';
var url_update = '/{{ conf.site }}_update/{{ name }}/{{ p0 }}/{{ p1 }}';
var url_delete = '/{{ conf.site }}_delete/{{ name }}/{{ p0 }}/{{ p1 }}';

var Main = {
    data() {
        return {
            filterName: '',
            tempFilterName: '',
            textData:'',
            tableData: [],
            newData: null,
            height: {{ values['height'] }},
            timer: null,

            tableToolbar: {
                perfect: true,
                //refresh: true,
                zoom: true,
                custom: true,
                slots: {
                  buttons: 'toolbar_buttons'
                }
              },
        }
    },

    mounted () {
        let obj = this;

        axios
            .get(url_query)
            .then(function (response) {
                obj.tableData = response.data.data;
                obj.textData = response.data.text
            })
            .catch(function (error) { // 请求失败处理
                console.log(error);
            });
    },

    created () {
    },

    methods: {
        insertEvent (row) {
            let xTable = this.$refs.xTable
            let obj = this
            axios
            .get(url_insert)
            .then(function (response) {
                if (this.newData != null){
                    this.tableData.unshift(this.newData)
                }
                xTable.insertAt(response.data, row)
                obj.newData = response.data
                //tableData.unshift(response.data)
            })
            .catch(function (error) { // 请求失败处理
                console.log(error);
            });
        },
        removeEvent () {
            let xTable = this.$refs.xTable
            const selectRecords = xTable.getCheckboxRecords()
            if (selectRecords.length) {
                this.$XModal.confirm('您确定要删除选中的数据吗?').then(type => {
                    if (type === 'confirm') {
                        if (this.newData != null){
                            this.tableData.unshift(this.newData)
                        }

                        let removeRecords = xTable.getCheckboxRecords()

                        for (i=0; i<removeRecords.length; i++) {
                            record = removeRecords[i];
                            const params = new URLSearchParams();
                            params.append('id', record[values['id']]);
                            axios.post(url_delete, params)
                        }
                        xTable.removeCheckboxRow()
                    }
                })
            } else {
                this.$XModal.message({ message: '请至少选择一条数据', status: 'error' })
            }
        },
        keyDownEvent(event) {
            let xTable = this.$refs.xTable
            if (event.$event.key == "Enter") {
                xTable.clearActived();
            }
        },
        searchEvent(event) {
            console.log('searchEvent', event)
            if (this.timer != null) {
                clearTimeout(this.timer);
            }
            this.timer = setTimeout(this.updateSearch, 300);
        },
        updateSearch() {
            if (this.newData != null){
                this.tableData.unshift(this.newData)
            }
            this.filterName = this.tempFilterName
            this.timer = null

            this.newData = null
        },
        inputChangeEvent(column) {
            let xTable = this.$refs.xTable;
            xTable.clearActived();
        },
        editClosedEvent ({ row, column }) {
            let xTable = this.$refs.xTable
            let field = column.property
            let cellValue = row[field]
            let obj = this

            if (cellValue != null) {
                const params = new URLSearchParams();
                params.append('id', row[values['id']]);
                params.append('field', field);
                params.append('value', cellValue);

                axios
                .post(url_update, params)
                .then( function(response){
                    row[field] = response.data

                    if (obj.newData != null){
                        obj.newData = row;
                    }
                })
                .catch(function (error) { // 请求失败处理
                    console.log(error);
                });
            }
        }
    },
    computed: {
        filterData () {
            const filterName = XEUtils.toString(this.filterName).trim().toLowerCase()
            if (filterName) {
                const searchProps = values['search'];
                const filters = filterName.split(" ");
                const rest = this.tableData.filter(
                    function (item) {
                        for (var index in filters) {
                            filter = filters[index]
                            ret = (searchProps.some(key => XEUtils.toString(item[key]).toLowerCase().indexOf(filter) > -1));
                            if (!ret) {
                                return false
                            }
                        }
                        return ret;
                })
                return rest
            }
            return this.tableData
        }
    }
};

var Ctor = Vue.extend(Main);
new Ctor().$mount("#{{ values['name'] }}")
// }
</script>