{% autoescape None %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>{{ html['title'] }}</title>

        <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">

        <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>

        <!-- vuetables -->
        <link href="https://cdn.jsdelivr.net/npm/vxe-table/lib/index.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://cdn.jsdelivr.net/npm/xe-utils"></script>
        <script src="https://cdn.jsdelivr.net/npm/vxe-table"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    </head>

    <body>
        {% if 'vuetables' in html %}
        {% module VueTables(name, p0, p1, html['vuetables']) %}
        {% end %}
    </body>

</html>